html{
	background: #1e6fb7;
	color: #fff;
}

form {
	padding: 16px;
}

form * + *{
	margin-top: 16px;
}

select{
	color: #1e6fb7;
}

input[type=text]:not(.mod-input),
input[type=datetime-local]:not(.mod-input){
	color: #1e6fb7;
	border: none;
	width: auto;
	text-align: center;
	width: 100%;
}

input[type=submit]{
	width: 100%;
	padding: 16px;
	background: #77bf43;
	color: #fff;
}

input[type=number]{
	margin-top: 0;
	width: 100%;
	text-align: center;
	padding: 2px;
	border: none;
	border-radius: 4px;
	color: #1e6fb7;
	min-width: 0;
}

label input{
	margin-right: 16px;
}

button{
	color: #1e6fb7;
}

span{
	margin-top: 0;
	margin-right: 16px;
}

span:last-of-type {
	margin-right: 0;
}

#title{
	color: #1e6fb7;
}
