form{
	padding: 16px;
}

#title{
	color: #77bf43;
}

html{
	background: #77bf43;
	color: #fff;
}

form * + *{
	margin-top: 16px;
}

label input{
	margin-right: 16px;
}

select{
	color: #77bf43;
}

input[type=text]:not(.mod-input),
input[type=datetime-local]:not(.mod-input){
	color: #77bf43;
	border: none;
	width: auto;
	text-align: center;
	width: 100%;
}

input[type=submit]{
	width: 100%;
	padding: 16px;
	background: #1e6fb7;
	color: #fff;
}

button{
	color: #77bf43;
}