html{
	background: #f1592a;
	color: #fff;
}

form{
	padding: 16px;
}

form * + *{
	margin-top: 16px;
}

select{
	color: #f1592a;
}

label input{
	margin-right: 16px;
}

input[type=text]:not(.mod-input),
input[type=datetime-local]:not(.mod-input){
	color: #f1592a;
	border: none;
	width: auto;
	text-align: center;
	width: 100%;
}

input[type=submit]{
	width: 100%;
	padding: 16px;
	background: #1e6fb7;
	color: #fff;
}

button{
	color: #f1592a;
}

#title{
	color: #f1592a;
}

.radio-group{
	display: flex;
}

.radio-group label{
	margin-top: 0 !important;
	flex: 1 0 0;
	flex-flow: column;
	cursor: pointer;
}

.radio-group input{
	height: 32px;
	width: 32px;
	margin: 0 0 8px 0;
}

.radio-group > * + *{
	margin-left: 16px;
}

.radio-group input{
	margin-right: 0px;
}
